# Node
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds
dist
.turbo
.next
coverage
**/*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Logs
*.log

# Editor
.DS_Store
.idea
.vscode

# Docker
*.pid
